<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029786050112-nlbsi5lk4ppljv9dqt6fvfkcge2tj97g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029786050112-nlbsi5lk4ppljv9dqt6fvfkcge2tj97g</string>
	<key>API_KEY</key>
	<string>AIzaSyAntI9W5uH9tzozlCfoE_pDi433S1NPxeA</string>
	<key>GCM_SENDER_ID</key>
	<string>1029786050112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterVision</string>
	<key>PROJECT_ID</key>
	<string>flutter-vision-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-vision-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029786050112:ios:ca8a7bf1e99bded63a49a5</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-vision-app.firebaseio.com</string>
</dict>
</plist>